// My Variables
:root {
    --sanble-orange: #ff7315;
    --sanble-orange-dark: #e65110;
    --sanble-orange-ligth: #ffcc80;
    --sanble-gray: #3a3535;
    --sanble-dark: #232020;
    --sanble-ligth: #f4f4f4;
}
