// Auth
.container--logo-auth {
    background-color: var(--sanble-gray);
    padding: 40px 0;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;

    .figure--logo-auth {
        text-align: center;
        color: #fff;
    }
}
